.filter{
    width: 1160px;
    /* height: 500px; */
    /* max-height: 500px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .filter-content{
    width: 1160px;
    margin: 0 auto;
    /* height: 100px; */
    height: auto;
    overflow: hidden; 
  }

  .filter-wrapper{
    background-color: #FFF;
    border-radius: 10px;
    width: 1160px;
    height: 100px;
  }
  
  .filter-txt{
    /* padding-top: 30px; */
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
  }
  .ttt{
    z-index: 1;
  }
  .filter-btn{
    color: #202020;
    font-family: Neue Machina;
    font-size: 24px;
    font-style: normal;
    font-weight: 500; 
    margin: 35px;
  }

  .filter-opn{
    color: #202020;
    font-family: Neue Machina;
    font-size: 24px;
    font-style: normal;
    font-weight: 500; 
    width: 920px;
    position: relative;
    /* padding: 35px; */
  }
  .filter-fltr{
    color: #202020;
    font-family: Neue Machina;
    font-size: 24px;
    font-style: normal;
    font-weight: 500; 
    margin: 35px;
    position: absolute;
  }
  
  .op05{
    opacity: 0.8;
  }
  
  .filter-body{
    background-color: #FFF;
    border-radius: 10px;
    width: 1160px;
    height: auto;
  }
  .filter-section{
    width: 1040px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 20px;
    gap: 20px;
  }
  
  .filter-title-type{
    color: #202020;
    font-family: Neue Machina;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 30px auto 0px;
  }
  
  .filter-title-type-s{
    color: #202020;
    font-family: Neue Machina;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .filter-type{
    display: flex;
    width: 1040px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px 60px;
    flex-wrap: wrap;
  }


  .selection-un-line{
    font-family: Neue Machina;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    color: #202020; /* Цвет текста ссылки */
    text-decoration: none;
}
/* это стили при наведении, фокусе и клике 
анимация подчеркивания кароче. да я это сделал*/
.selection-un-line::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Выставляем подчеркивание на расстояние от текста (можно настроить по вашему усмотрению) */
    width: 100%;
    height: 2px; /* Толщина подчеркивания (можно настроить по вашему усмотрению) */
    background-color: #202020; /* Цвет подчеркивания */
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out; /* Плавная анимация исчезновения */
  }
  
  /* Анимация при наведении курсора */
  .selection-un-line:hover::before {
    transform: scaleX(1);
}

 



.active-filter-section{
    font-family: Neue Machina;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    color: #B74752; /* Цвет текста ссылки */
    text-decoration: none;
}
/* это стили при наведении, фокусе и клике 
анимация подчеркивания кароче. да я это сделал*/
.active-filter-section::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Выставляем подчеркивание на расстояние от текста (можно настроить по вашему усмотрению) */
    width: 100%;
    height: 2px; /* Толщина подчеркивания (можно настроить по вашему усмотрению) */
    background-color: #B74752; /* Цвет подчеркивания */
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out; /* Плавная анимация исчезновения */
  }
  
  /* Анимация при наведении курсора */
  .active-filter-section:hover::before {
    transform: scaleX(0);
  }





/* СТИЛИ ДЛЯ ПОЯВЛЕНИЯ ОТДЕЛА С ФИЛЬТРАМИ НАЧАЛО */

  .fade-enter {
    max-height: 0; /* Начальная высота при появлении */
  }
  
  .fade-enter-active {
    max-height: 500px; /* Конечная высота при появлении */
    transition: max-height 300ms; /* Длительность анимации 300ms */
  }
  
  .fade-exit {
    max-height: 500px; /* Начальная высота при исчезновении */
  }
  
  .fade-exit-active {
    max-height: 0; /* Конечная высота при исчезновении */
    transition: max-height 300ms; /* Длительность анимации 300ms */
  }

  /* СТИЛИ ДЛЯ ПОЯВЛЕНИЯ ОТДЕЛА С ФИЛЬТРАМИ КОНЕЦ */


  