@import url("/src/fonts/stylesheet.css")

html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
body{
    color: #202020;
    background-color: #DAE7FA;
    font-family: 'Neue Machina';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    min-height: 100vh;
}

#root{
  min-height: 100vh;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img{
    max-width: 100%;
    height: auto;
}



.wrapper{
    max-width: 1160px;
    max-height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    gap: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.squad{
  width: 575px;
  height: 575px;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  position: relative;
}
.squad-text-top{
  position: absolute;
  top: 0;
  padding: 5px 20px;
  width: 535px;
  color: #202020;
  text-align: left;
  font-family: 'Neue Machina';
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.squad-text-bottom{
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 535px;
  color: #202020;
  text-align: left;
  font-family: 'Neue Machina';
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}



.obj-margin-t{
  margin-top: 160px;
}

.obj-margin-mi{
  margin-bottom: 60px;
}

.obj-margin-min{
  margin-bottom: -20vh;
}


/*СТИЛИ ХЭДЭРА НАЧАЛО*/

.header_link{
    font-family: Neue Machina;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    color: #202020; /* Цвет текста ссылки */
    text-decoration: none;
}
/* это стили при наведении, фокусе и клике 
анимация подчеркивания кароче. да я это сделал*/
.header_link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Выставляем подчеркивание на расстояние от текста (можно настроить по вашему усмотрению) */
    width: 100%;
    height: 2px; /* Толщина подчеркивания (можно настроить по вашему усмотрению) */
    background-color: #202020; /* Цвет подчеркивания */
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out; /* Плавная анимация исчезновения */
  }
  
  /* Анимация при наведении курсора */
  .header_link:hover::before {
    transform: scaleX(1);
}

/*СТИЛИ ХЭДЭРА КОНЕЦ*/

/*ПЕРВЫЙ ЭКРАН НАЧАЛО*/

.intro{
    height: auto;
    min-width: 100vh;
    padding-top: 292px;
}

.title{
    color: #202020;
    font-family: 'Neue Machina';
    font-size: 96px;
    font-weight: bold;
}
.titleM{ 
  color: #202020;
  font-family: 'Neue Machina';
  font-size: 64px;
  font-weight: bold;
  width: 1160px;
  margin: 100px auto;
  text-align: center;
}

.titleMM{ 
  color: #202020;
  font-family: 'Neue Machina';
  font-size: 64px;
  font-weight: bold;
  width: 1160px;
  margin: 100px auto;
  text-align: center;
}

.subtitle{
    color: #202020;
    text-align: center;
    font-family: 'Neue Machina';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -25px;
}

.wrapper_grid4 {
    max-width: 1160px;
    margin: 40px auto 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Две колонки равной ширины */
    gap: 40px; /* Отступ между элементами */
  }

.rectangle{
    width: 260px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    /* background-image: url('path/to/your/image.jpg'); */
    background-color: #fff;
    /* background-size: cover;  */
    /* Масштабируем изображение по размеру прямоугольника */
    /* background-position: center;  */
    /* Располагаем изображение по центру прямоугольника */
    /* position: relative;  */
    /* Для позиционирования текста относительно прямоугольника */
    filter: drop-shadow(0px 0px 48px rgba(91, 91, 91, 0.07));
    /* margin: 20px; */
    z-index: 0;
}
  
  .top-text, .bottom-text {
    position: absolute;
    color: #202020;
    text-align: center;
    font-family: 'Neue Machina';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin: 20px; */
  }
  
  .top-text {
    top: 20px;
    right: 20px;
  }
  
  .bottom-text {
    bottom: 20px;
    left: 20px;
  }
  
  .wrapper_grid2 {
    max-width: 1160px;
    margin: 0 auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки равной ширины */
    gap: 40px; /* Отступ между элементами */
  }
  
  .big_rect, .mid_rect {
    width: 100%;
    height: 480px;
    border-radius: 10px;
    background-color: #ffffff; /* Цвет фона прямоугольника */
    color: #202020; /* Цвет текста */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 48px rgba(91, 91, 91, 0.07));
    /* padding: 20px; */
  }
  .big_rect{
    width: 1160px;
  }
  .mid_rect{
    width: 560px;
  }
  
  .block_name {
    font-family: 'Neue Machina';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0; /* Убираем отрицательный отступ */
  }
  
  .link_group {
    color: #202020;
    font-family: 'Neue Machina';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    bottom: 60px;
    left: 60px;
    width: 220px;
    gap: 30px;
  }
  
.description{
    /* margin-bottom: 30px; */
}

  .smooth-underline {
    position: relative;
    color: #202020; /* Цвет текста ссылки */
    text-decoration: none;
    font-family: 'Neue Machina';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .smooth-underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Выставляем подчеркивание на расстояние от текста (можно настроить по вашему усмотрению) */
    width: 100%;
    height: 2px; /* Толщина подчеркивания (можно настроить по вашему усмотрению) */
    background-color: #202020; /* Цвет подчеркивания */
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out; /* Плавная анимация исчезновения */
  }
  
  .smooth-underline:hover::before {
    transform: scaleX(0);
  }
/*ПЕРВЫЙ ЭКРАН КОНЕЦ*/

/* FOR USER */
.for_user{
    margin-bottom: 100px;
}
.title2{
    color: #202020;
    font-family: 'Neue Machina';
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
}

.wrapper_grid2v {
    max-width: 1160px;
    max-height: auto;
    margin: 40px auto;
    margin-bottom: 40px;
    display: grid;
    grid-template-rows: repeat(2, 1fr); /* Две линии равной ширины */
    gap: 20px; /* Отступ между элементами */
    position: relative;
  }

.link_cont_center{
    position: absolute;
    bottom: 60px;
}